/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-title {
        @apply text-2xl lg:text-5xl;
    }

    #menu-toggle {
        @apply text-3xl;
    }

    #mobile-menu {
        @apply lg:flex lg:items-center lg:space-x-4;
    }

    @media (max-width: 480px) {
        #mobile-menu {
            @apply bg-cream bg-opacity-50
        }
    }

    .desktop-nav a {
        @apply block lg:inline-block px-2 py-2 lg:py-0;
    }
}





/* Otros estilos personalizados */

@layer utilities {
    .grain-bg {
        position: relative;
        overflow: hidden;
    }
}
@layer utilities {
    .filter-grainy {
        filter: url('#grainy');
        @apply bg-dark;
    }
}

/* Define custom typefaces */
@font-face {
    font-family: nohemi;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Nohemi-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(../fonts/Nohemi-Regular.woff) format('woff'), /* Older Browsers */
    url(../fonts/Nohemi-Regular.woff2) format('woff2'); /* Modern Browsers*/
}
@font-face {
    font-family: nohemi-bold;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Nohemi-VF.ttf); /* Variable Font */
}

@font-face {
    font-family: 'nikkei-pacific';
    src: url('PangramPangram.woff') format('truetype');
    font-weight: bold;
    src: url('../fonts/PPNikkeiPacific-Ultrabold.ttf');
    src: url('../fonts/PPNikkeiPacific-Ultrabold.woff2');
    src: url('../fonts/PPNikkeiPacific-Ultrabold.woff');
}

@font-face {
    font-family: 'neue-machina';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPNeueMachina-InktrapMedium.ttf),
    url(../fonts/PPNeueMachina-InktrapMedium.woff),
    url(../fonts/PPNeueMachina-InktrapMedium.woff2);
}
@font-face {
    font-family: 'hatton';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPHatton-Medium.ttf),
    url(../fonts/PPHatton-Medium.woff),
    url(../fonts/PPHatton-Medium.woff2);
}
@font-face {
    font-family: 'playground';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPPlayground-Medium.ttf),
    url(../fonts/PPPlayground-Medium.woff),
    url(../fonts/PPPlayground-Medium.woff2);
}

@font-face {
    font-family: 'telegraf-slant';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPTelegraf-BoldSlanted.ttf),
    url(../fonts/PPTelegraf-BoldSlanted.woff),
    url(../fonts/PPTelegraf-BoldSlanted.woff2);
}
@font-face {
    font-family: 'telegraf';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPTelegraf-Bold.ttf),
    url(../fonts/PPTelegraf-Bold.woff),
    url(../fonts/PPTelegraf-Bold.woff2);
}
@font-face {
    font-family: 'telegraf-reg';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPTelegraf-Regular.ttf),
    url(../fonts/PPTelegraf-Regular.woff),
    url(../fonts/PPTelegraf-Regular.woff2);
}

/* Scroll */
html {
    scroll-behavior: smooth;
}

/* Background */
body{
    background-image: url('../img/whitesand.jpg'), linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.3));
    background-size: contain;
    background-blend-mode: overlay;
}

/* Grainy Background for #hero */
#hero::before, header::before, footer::before {
    position: absolute;
    left: 0; top: 0;
    content: '';
    width: 100%; height: 100%;
    opacity: 15%; /* Adjust for transparency */
    pointer-events: none;
    background: transparent;
    background: radial-gradient(circle at 50% 50%, rgba(27, 27, 27, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    filter: url(#grainy);
    z-index: -1;
}

header {
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: rgba(200, 200, 200, 0.55);
    backdrop-filter: blur(5px); /* Añade un efecto de desenfoque para mejorar la legibilidad */
}

/* Base Styles */
.page-container {
    @apply grid min-h-screen grid-cols-12 grid-rows-[auto_1fr] bg-transparent;
}

#hero {
    @apply row-span-full col-span-full grid grid-rows-[auto-auto] min-h-screen;
}

#hero {
    background-image: url("../img/foto1.jpg");
    background-size: cover;
    background-position: center;
}

#hero {
    background-image: url("../img/foto1.jpg");
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) {
    #hero {
        background-position: 50% 30%; /* Ajuste para pantallas medianas */
    }
}

@media (max-width: 768px) {
    #hero {
        background-position: 50% 10%; /* Ajuste para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    #hero {
        background-position: 70% 5%; /* Ajuste para pantallas muy pequeñas */
    }
}


#countdown {
    @apply bg-transparent;
}

#confirmation {
    @apply bg-transparent;
}

/* Bigger styles */
.header-layout {
    @apply flex justify-between items-center h-24 bg-transparent pt-9 text-white fixed top-0 left-0 right-0 z-50 p-[10px];
}

main {
    @apply bg-transparent col-span-full mt-28 text-cream grid gap-4 grid-cols-4 mx-10 min-h-screen row-span-full;
}

/* Sections */
#start {
    @apply bg-transparent grid gap-4 mx-10 min-h-full mb-14;
}

/* <Header> divisions */
.header-main {
    @apply font-hatton text-xl;
}

.header-nav {
    @apply flex justify-end space-x-4 font-hatton text-xl text-cel-3 hidden lg:flex;
}

/* .header-main objects */
.header-title {
    @apply text-5xl text-cel-3;
}
@media (max-width: 640px) {
    .header-title {@apply text-xl text-center ml-4 justify-center;
    }
}

/* <Main> divisions */
.title {
    @apply text-[#bd8e00] text-6xl font-hatton text-center mt-0;
    margin-bottom: 2rem;
}

@media (max-width: 640px) {
    .title {
        @apply text-xl -mt-2;
    }
}

.title1 {
    @apply text-[#2B5051] text-6xl font-hatton text-center mt-0;
    margin-bottom: 2rem;
}
.title2 {
    @apply text-cel-3 text-6xl font-hatton text-center mt-0;
    margin-bottom: 2rem;
}

@media (max-width: 640px) {
    .title1, .title2 {
        @apply text-4xl;
    }
}

.date {
    @apply text-cel-3 text-3xl font-hatton text-center mt-0;
}

.description-container {
    @apply row-start-2;
}

/* Detalles */
.details-container {
    @apply max-w-3xl bg-[#EBF5FB] bg-opacity-90 p-8 rounded-lg shadow-lg text-center relative lg:mx-20;
}

@media (max-width: 1024px) {
    .details-container {
        @apply mx-4;
    }
}

.details-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.s123-module-contact-map iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

/* Confirmación */
.confirmation-container {
    @apply max-w-3xl bg-[#EBF5FB] bg-opacity-90 p-8 rounded-lg shadow-lg text-center relative lg:mx-20;
}

@media (max-width: 1024px) {
    .confirmation-container {
        @apply mx-4;
    }
}

@media (max-width: 640px) {
    .confirmation-container iframe {
        height: 600px;
    }
}

.form-container {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

iframe {
    width: 100%;
    border: none;
}

/* Más */
#more {
    @apply flex flex-col items-center justify-center min-h-screen  py-20;
}

.more-container {
    @apply max-w-3xl bg-[#EBF5FB] bg-opacity-90 p-8 rounded-lg shadow-lg text-center relative lg:mx-20;
}

@media (max-width: 1024px) {
    .more-container {
        @apply mx-4;
    }
}

.more-container p {
    @apply text-lg mb-8;
}

.more-container img {
    @apply max-w-full h-auto rounded-lg mt-4;
}

.whatsapp-links {
    @apply flex justify-center space-x-8 mb-8;
}

.whatsapp-link {
    @apply flex items-center text-[#075E54] font-hatton text-xl no-underline;
}

.whatsapp-link svg {
    fill: #075E54;
}

.whatsapp-link span {
    @apply ml-2;
}

p.mas {
    @apply text-4xl font-hatton mb-8 text-cel-3;
}

#esperamos {
    @apply my-8 font-hatton text-4xl justify-center;
}

p {
    @apply text-xl text-cel-3;
}

/* CUENTA ATRAS */
.flip-clock {
    text-align: center;
    perspective: 400px;
    margin: 20px auto;
}

.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
    box-sizing: border-box;
}

.flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
}

.flip-clock__slot {
    font-size: 3vw;
    color: #2B5051;
    @apply font-neue-machina /* Color veraniego para los textos de los slots */
}

.card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 9vw;
    line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 0.72em;
    color: #2B5051; /* Color veraniego para los números */
    background: #EBF5FB; /* Fondo claro y cálido */
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 1.8em;
    transform: translateZ(0);
}

.card__bottom {
    color: #2B5051; /* Color veraniego para los números */
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #2B5051; /* Borde del mismo color veraniego */
    background: #EBF5FB; /* Fondo claro y cálido */
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
}

.card__bottom::after {
    display: block;
    margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

.card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.flip .card__back::before {
    animation: flipTop 0.3s cubic-bezier(.37,.01,.94,.35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

.flip .card__back .card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(.15,.45,.28,1);
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%, 99% {
        opacity: 0.99;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipBottom {
    0%, 50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 0.99;
    }
    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }
}

/* Footer */
.footer {
    @apply bg-cream bg-opacity-60 py-6;
    
}

.footer-container {
    @apply flex flex-col items-center justify-center text-center;
}

.footer p {
    @apply text-base mb-4 text-cel-3;
}

#atr {
    @apply text-xs mt-4 text-cel-3;
}

.footer-links {
    @apply flex space-x-4;
}

.footer-link {
    @apply flex items-center text-lg no-underline;
}

.footer-link:hover {
    @apply underline;
}

.footer-link svg {
    fill: currentColor; /* This makes the SVG use the text color */
}

.footer-link span {
    @apply ml-2;
}

/* CSS for countdown background pattern container */
#countdown-pattern-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background-color: transparent;
}

.pattern-item {
    position: absolute;
    fill: white; /* Color of the pattern */
    opacity: 0.5; /* Adjust opacity as needed */
}

/* CSS for details background pattern container */
#details{
@apply bg-transparent
}
#more{
    @apply bg-transparent
}

#details-pattern-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.pattern-item {
    position: absolute;
    fill: white; /* Color of the pattern */
    opacity: 0.5; /* Adjust opacity as needed */
}

.details-container {
    position: relative;
    z-index: 2; /* Ensure content container is above the pattern */
}

/* CSS for confirmation background pattern container */
#confirmation-pattern-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.pattern-item {
    position: absolute;
    fill: white; /* Color of the pattern */
    opacity: 0.5; /* Adjust opacity as needed */
}

.confirmation-container {
    position: relative;
    z-index: 2; /* Ensure content container is above the pattern */
}

/* CSS for more background pattern container */
#more-pattern-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.pattern-item {
    position: absolute;
    fill: white; /* Color of the pattern */
    opacity: 0.5; /* Adjust opacity as needed */
}

.more-container {
    position: relative;
    z-index: 2; /* Ensure content container is above the pattern */
}


/* Estilos para la imagen ampliada */
.map-image {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para la animación */
.map-image {
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.map-image.in-view {
    animation: highlight 1s forwards;
}

@keyframes highlight {
    0% {
        transform: scale(1.05);
        border: 3px solid #ff9800; /* Color de borde de ejemplo */
    }
    100% {
        transform: scale(1);
        border: 0px solid transparent;
    }
}
